@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Rick & Morty Characters</h1>
    <p>This application lists the characters contained in the Rick & Morty database.
    The app is build with <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.
    </p>
</div>
